.cards{
    display:flex;
    margin: 0 auto;
    flex-direction: column;
    /* background:red; */
    margin-top: 2rem;
    width: 100%;
    max-width: 1200px;
    padding:0.5rem;
}
.cards-header{
    margin-bottom: 1.2rem;
}
.cards-body{
    display: flex;
    flex-direction: row;
    gap:0.8rem;
    flex-wrap: wrap;
    justify-content: center;
}
