@import url('globalStyle.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    overflow: hidden;
    background:rgb(247, 247, 247);
}

.container{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.login-input{
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding: 1rem;
    border-radius: 8px;
    /* border:1px solid rgb(185, 185, 185); */
    min-height: 18rem;
    width: 20rem;
    margin-bottom: 3rem;
    box-shadow: var(--default-shadow);

}

.input-field{
    display:flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid rgb(231, 231, 231);
    padding: 0 0.5rem;
}

button, input{
    width: 15rem;
    height: 3rem;
    font-family: 'Poppins';
    border: none;
    border-radius: 8px;
    padding:0.5rem;
    outline: none;
}

h1{
    font-family: 'Poppins';
    font-weight: bold;
    color: rgb(22, 22, 22);
}

img{
    max-width: 100%;
    margin-bottom: 4rem;
}

.underline{
    height: 0.2rem;
    width: 9rem;
    border-radius: 8px;
    background:linear-gradient(90deg, rgb(17, 17, 17),rgba(112, 112, 112, 0.507));
    margin-bottom: 1rem;
}

.input-field input{
    background: none;
    outline: rgb(0, 81, 255);
}

button{
    background:rgb(21, 23, 32);
    color:white;
    font-weight: normal;
    width: 100%;
}