// NAVBAR
$nav-width: 15rem;
$nav-color: #2f6bc6;
$nav-link-label-color: rgb(156, 156, 156);
$nav-link-color: rgb(230, 230, 230);
$nav-icon-color: rgb(114, 180, 255);
//HEADER
$header-height: 4rem;
$header-shadow: 0 0 15px rgba(0, 0, 0, 0.267);

//bg COLORS
$bg-color:#f3f3f3;

// TEXT COLORS
$header-text-primary: rgb(83, 83, 83);
$header-text-secondary: rgb(124, 124, 124);

//BREAKPOINTS
$mobile-breakpoint: 'max-width: 640px';